/* Paramètres de Styles spécifique à la page Tetris.html */
.image1{
  width:218px;
  display: inline-block;
  transition: all 1.5s ease;
  opacity: 0.3;
  margin: -1px ;
}
.home{
  width:186px;
  display: inline-block;
  transition: all 1.5s ease;
  margin: auto ;
  opacity: 0.3;
}
.Pc{
  width:240px;
  display: inline-block;
  transition: all 1.5s ease;
  margin: auto ;
  opacity: 0.4;
}

.image1:hover{
  width:250px;
  opacity: 1;
}
.home:hover{
  width:200px;
  opacity: 1;
}
.Pc:hover{
  width:260px;
  opacity: 1;
}

.proch2
{
	 display: inline-block;
	 border:2px grey solid;
	 border-width:5px;
	 border-radius:5px;
	 margin-bottom:50px;
	 margin-top : 40px;
	 margin-left: 80px;
	 margin-right : 25px;
}

